* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body,
html {
    color: #fff;
    background: rgb(38, 38, 45);
}


.navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: bold;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(221, 90, 90);
    font-size: 50px;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    outline: none;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 5px 0px rgba(0, 0, 0, 0.466);
    font-family: 'Poppins';
    font-weight: bold;
}

.logo:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
}

.navbar .nav-links ul {
    display: flex;
}


.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .nav-links .active a {
    border-bottom: 4.5px solid rgb(243, 109, 109);
    opacity: 1;
    font-weight: 600;
    z-index: 1;
    position: relative;
    transition: 700ms ease;
    text-decoration: none;
}



.navbar .nav-links ul a {
    color: rgb(255, 255, 255);
    font-weight: 600;
    z-index: 1;
    position: relative;
    transition: 700ms ease;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.75;
}




.navbar .nav-links ul a:hover {
    cursor: pointer;
    opacity: 1;
    transition: 150ms ease;
    border-bottom: 4.5px solid rgb(243, 109, 109);
}



.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
    font-family: 'Poppins';
    font-weight: bold;
}

/*Catégories*/

.Titre_Page2 {
    color: rgb(255, 255, 255);
    z-index: 1;
    font-size: 50px;
    position: relative;
    display: inline-block;
    margin-top: 200px;
    letter-spacing: -1px;
    transition: 1500ms ease;
    font-variation-settings: "wght" 311;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 5px 0px rgba(0, 0, 0, 0.466);
    font-family: 'Poppins';
    font-weight: bold;
}

.Sous_Titre_Page2 {
    color: rgb(255, 255, 255);
    z-index: 1;
    font-size: 50px;
    position: relative;
    display: inline-block;
    margin-top: 50px;
    letter-spacing: -1px;
    transition: 1500ms ease;
    font-variation-settings: "wght" 311;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 5px 0px rgba(0, 0, 0, 0.466);
    font-family: 'Poppins';
    font-weight: bold;
}


.Titre_Page2:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px;
    color: rgb(243, 109, 109);
    text-decoration: none;
}

.Sous_Titre_Page2:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px;
    color: rgb(243, 109, 109);
    text-decoration: none;
}

.Sous_Titre_Page1 {
    color: rgb(255, 255, 255);
    z-index: 1;
    font-size: 50px;
    position: relative;
    display: inline-block;
    letter-spacing: -1px;
    transition: 1500ms ease;
    font-variation-settings: "wght" 311;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 5px 0px rgba(0, 0, 0, 0.466);
    font-family: 'Poppins';
    font-weight: bold;
}

.Sous_Titre_Page1 a {
    color: rgb(243, 109, 109);
    z-index: 1;
    font-size: 50px;
    position: relative;
    display: inline-block;
    letter-spacing: -1px;
    transition: 1500ms ease;
    font-variation-settings: "wght" 311;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 5px 0px rgba(0, 0, 0, 0.466);
    font-family: 'Poppins';
    font-weight: bold;
    border-bottom: 4.5px solid rgb(243, 109, 109);
}

/*header_Accueil*/

.gif_accueil img {    
    width: 35%;
    border-radius: 20px;
    margin-left: auto;  
    margin-right: auto;
    margin-top: 270px;
    margin-bottom: 40px;
    box-shadow: 8px 10px 0px rgba(3, 3, 3, 0.308);
}

/*.footer_container {
    
}*/


@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
    }

    .navbar .logo {
        position: absolute;
        top: 36px;
        left: 10px;
        height: 60px;
        
    }

    .navbar .menu-hamburger {
        display: block;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(66, 60, 60, 0.281);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 130vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
        font-family: 'Poppins';
        font-weight: bold;
    }

    ul li.active:hover {
        font-size: x-large;
        transition: 700ms ease;
    }
    
    ul li.n_active:hover {
        font-size: x-large;
        transition: 700ms ease;
    }
    
    
    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }

    .choix{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(66, 60, 60, 0.281);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 130vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
        font-family: 'Poppins';
        font-weight: bold;
    }
    .Titre_Page2{
        opacity: 0.5;
        font-family: 'Poppins';
        font-weight: bold;
    }
    .Titre_Page2:hover{
        opacity: 1;
    }
}


/*Deuxieme navigation dans catégories*/


.choix{
    text-align: center;
    text-decoration: none;
    color:#fff;
}

.choix ul {
    padding: 5%; 
    position: relative;
    display: flex;/*permet de les mettrent à coter*/
    font-size: x-large;
    justify-content: space-between;/*Pour les espacer*/
    list-style: none;
    text-align: center;
    font-family: 'Poppins';
    font-weight: bold;
}

.choix  ul a {
    color: rgb(255, 255, 255);
    font-weight: 600;
    z-index: 1;
    position: relative;
    transition: 700ms ease;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.75;
    font-family: 'Poppins';
    font-weight: bold;
}

.choix_genre .choix ul a:hover {
    cursor: pointer;
    opacity: 1;
    transition: 150ms ease;
    border-bottom: 4.5px solid rgb(243, 109, 109);
}


.choix_genre .choix .active a {
    border-bottom: 4.5px solid rgb(243, 109, 109);
    opacity: 1;
    font-weight: 600;
    z-index: 1;
    position: relative;
    transition: 700ms ease;
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: bold;
}
/*Tous les textes qui seront après le choix de l catégories seront espacer d'un certain espace (15%)*/
.choix_genre{
    padding-bottom: 15%;
}


.entry-content {
    margin-top: 200px;
}

/*Episodes*/

.Metal_grand {
    position: relative;
    margin-top: 50px;
}

.description {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.épisodes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
}

.Image_grand {
	width : 1000px;
	height : 600px;
	box-shadow: 8px 10px 0px rgba(3, 3, 3, 0.308);
}

.vidéo_op {
    margin-bottom: 10px;
}

.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
  
  footer{
    padding-top: 5px;
  }
  

  h3,p{
    text-align: left;
    margin: 10px;
  }

 